In [8]:
import pandas as pd
import numpy as np

3250 Foundations of Data Science Jan-April 2020 <br>
Group 7 <br>
Member: Albert Mendoza <br>
Prof: Irina Sedenko

## 2. Merge both datasets 

- with both cleaned 1980-2013 and 2015-2019 datasets, Attempted to merge both into one cohesive dataset from 1980-2019

### Loading of both datasets

In [9]:
df1 = pd.read_csv('cleanedimmigration1519.csv', index_col=0)
df1

                     2015    2016    2017    2018    2019
Country
Total              252192  147822  106376  176486  249684
Afghanistan          1882    1596    1187    1342    1977
Albania               604     359     229     454     631
Algeria              5695    2468    2004    3340    4243
American Samoa          0       1       0       0       1
...                   ...     ...     ...     ...     ...
Wallis and Futuna       0       0       0       1       0
Yemen                 181     115      80     216     230
Yugoslavia            183     130      60     103     108
Zambia                129      78      54      75     104
Zimbabwe              624     362     235     361     413

[235 rows x 5 columns]

In [10]:
df2 = pd.read_csv('cleanedimmigration.csv', index_col=0)
df2

,Region,Status,1980,1981,1982,1983,1984,1985,1986,1987,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Developing regions,16,39,39,47,71,340,496,741,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
Albania,Europe,Developed regions,1,0,0,0,0,0,1,2,...,1450,1223,856,702,560,716,561,539,620,603
Algeria,Africa,Developing regions,80,67,71,69,63,44,69,132,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
American Samoa,Oceania,Developing regions,0,1,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
Andorra,Europe,Developed regions,0,0,0,0,0,0,2,0,...,0,0,1,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vietnam,Asia,Developing regions,1191,1829,2162,3404,7583,5907,2741,1406,...,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
Western Sahara,Africa,Developing regions,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
Yemen,Asia,Developing regions,1,2,1,6,0,18,7,12,...,124,161,140,122,133,128,211,160,174,217
Zambia,Africa,Developing regions,11,17,11,7,16,9,15,23,...,56,91,77,71,64,60,102,69,46,59
Zimbabwe,Africa,Developing regions,72,114,102,44,32,29,43,68,...,1450,615,454,663,611,508,494,434,437,407

### Merge both datasets

- Merge through country index

In [11]:
immigration = pd.merge(df2, df1, how='inner', right_index = True, left_index = True)
immigration,

(                                         Region              Status  1980  \
 Country
 Afghanistan                                Asia  Developing regions    16
 Albania                                  Europe   Developed regions     1
 Algeria                                  Africa  Developing regions    80
 American Samoa                          Oceania  Developing regions     0
 Andorra                                  Europe   Developed regions     0
 ...                                         ...                 ...   ...
 Venezuela       Latin America and the Caribbean  Developing regions   103
 Vietnam                                    Asia  Developing regions  1191
 Yemen                                      Asia  Developing regions     1
 Zambia                                   Africa  Developing regions    11
 Zimbabwe                                 Africa  Developing regions    72

                 1981  1982  1983  1984  1985  1986  1987  ...  2009  2010  \
 Country                                                   ...
 Afghanistan       39    39    47    71   340   496   741  ...  1746  1758
 Albania            0     0     0     0     0     1     2  ...   716   561
 Algeria           67    71    69    63    44    69   132  ...  5393  4752
 American Samoa     1     0     0     0     0     0     1  ...     0     0
 Andorra            0     0     0     0     0     2     0  ...     0     0
 ...              ...   ...   ...   ...   ...   ...   ...  ...   ...   ...
 Venezuela        117   174   124   142   165   179   229  ...  1353   998
 Vietnam         1829  2162  3404  7583  5907  2741  1406  ...  2171  1942
 Yemen              2     1     6     0    18     7    12  ...   128   211
 Zambia            17    11     7    16     9    15    23  ...    60   102
 Zimbabwe         114   102    44    32    29    43    68  ...   508   494

                 2011  2012  2013  2015  2016  2017  2018  2019
 Country
 Afghanistan     2203  2635  2004  1882  1596  1187  1342  1977
 Albania          539   620   603   604   359   229   454   631
 Algeria         4325  3774  4331  5695  2468  2004  3340  4243
 American Samoa     0     0     0     0     1     0     0     1
 Andorra            0     1     1     0     0     1     1     1
 ...              ...   ...   ...   ...   ...   ...   ...   ...
 Venezuela       1452  1373  1022  1584   712   588  1277  1690
 Vietnam         1723  1731  2112  1959  1163   810  1769  2593
 Yemen            160   174   217   181   115    80   216   230
 Zambia            69    46    59   129    78    54    75   104
 Zimbabwe         434   437   407   624   362   235   361   413

 [174 rows x 41 columns],)

### Making 2014 column

- 2014 data was missing. I Emailed the govenment for the missing 2014 dataset, no reply since. <br> 
Because it cant be supplied by Statistics Canada I made new column "2014" as average of column '2013' and '2015'.

In [12]:
#make 2014 average of both 2013 and 2015
immigration ['2014'] = (immigration ['2013'] + immigration ['2015']) / 2
immigration

,Region,Status,1980,1981,1982,1983,1984,1985,1986,1987,...,2010,2011,2012,2013,2015,2016,2017,2018,2019,2014
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Developing regions,16,39,39,47,71,340,496,741,...,1758,2203,2635,2004,1882,1596,1187,1342,1977,1943.0
Albania,Europe,Developed regions,1,0,0,0,0,0,1,2,...,561,539,620,603,604,359,229,454,631,603.5
Algeria,Africa,Developing regions,80,67,71,69,63,44,69,132,...,4752,4325,3774,4331,5695,2468,2004,3340,4243,5013.0
American Samoa,Oceania,Developing regions,0,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0.0
Andorra,Europe,Developed regions,0,0,0,0,0,0,2,0,...,0,0,1,1,0,0,1,1,1,0.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,Latin America and the Caribbean,Developing regions,103,117,174,124,142,165,179,229,...,998,1452,1373,1022,1584,712,588,1277,1690,1303.0
Vietnam,Asia,Developing regions,1191,1829,2162,3404,7583,5907,2741,1406,...,1942,1723,1731,2112,1959,1163,810,1769,2593,2035.5
Yemen,Asia,Developing regions,1,2,1,6,0,18,7,12,...,211,160,174,217,181,115,80,216,230,199.0
Zambia,Africa,Developing regions,11,17,11,7,16,9,15,23,...,102,69,46,59,129,78,54,75,104,94.0
Zimbabwe,Africa,Developing regions,72,114,102,44,32,29,43,68,...,494,434,437,407,624,362,235,361,413,515.5

In [13]:
#rearranging the columns
var = immigration['2014']
immigration.drop(labels=['2014'], axis=1,inplace = True)
immigration.insert(36, '2014', var)
immigration

,Region,Status,1980,1981,1982,1983,1984,1985,1986,1987,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,Asia,Developing regions,16,39,39,47,71,340,496,741,...,1758,2203,2635,2004,1943.0,1882,1596,1187,1342,1977
Albania,Europe,Developed regions,1,0,0,0,0,0,1,2,...,561,539,620,603,603.5,604,359,229,454,631
Algeria,Africa,Developing regions,80,67,71,69,63,44,69,132,...,4752,4325,3774,4331,5013.0,5695,2468,2004,3340,4243
American Samoa,Oceania,Developing regions,0,1,0,0,0,0,0,1,...,0,0,0,0,0.0,0,1,0,0,1
Andorra,Europe,Developed regions,0,0,0,0,0,0,2,0,...,0,0,1,1,0.5,0,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,Latin America and the Caribbean,Developing regions,103,117,174,124,142,165,179,229,...,998,1452,1373,1022,1303.0,1584,712,588,1277,1690
Vietnam,Asia,Developing regions,1191,1829,2162,3404,7583,5907,2741,1406,...,1942,1723,1731,2112,2035.5,1959,1163,810,1769,2593
Yemen,Asia,Developing regions,1,2,1,6,0,18,7,12,...,211,160,174,217,199.0,181,115,80,216,230
Zambia,Africa,Developing regions,11,17,11,7,16,9,15,23,...,102,69,46,59,94.0,129,78,54,75,104
Zimbabwe,Africa,Developing regions,72,114,102,44,32,29,43,68,...,494,434,437,407,515.5,624,362,235,361,413

In [14]:
immigration.to_csv ('cleanedcanadaimmigration.csv', header=True)